.studio-container {
  display: flex;
}

.studio-design-area {
  height: calc(100vh - 50px);
  width: calc(100vw - 288px);
  margin-left: 288px;
}

.studio-sidebar {
  width: 240px;
  background-color: #fff;
  border-left: 1px solid #ddd;
}

.program-node {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
}
